@font-face {
  font-family: "DmSans";
  src: url("../../public/assets/fonts/DMSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DmSans-Bold";
  src: url("../../public/assets/fonts/DMSans-Bold.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-size: 0.9375rem; /* Body font size = 15px */
  line-height: 1.5625rem; /* Body line height = 25px */
  font-family: "DmSans";
}

h1 {
  font-size: 2.5rem; /* 40px */
  line-height: 3rem; /* 48px */
  letter-spacing: 0.260625rem; /* 4.17px */
}

h2 {
  font-size: 1.5rem; /* 24px */
}

h3 {
  font-size: 1.125rem; /* 18px */
}

h4 {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
  letter-spacing: 0.125rem; /* 2px */
}
